@model BL.DTOs.Songs.SongDTO

@{
    ViewBag.Title = "Edit song";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit song @Model.Name</h2>
<br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Song</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.AlbumId)
        @Html.HiddenFor(model => model.OriginalSongId)
        @Html.HiddenFor(model => model.Added)
        @Html.HiddenFor(model => model.IsPublic)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.Publish)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YTLink, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.YTLink, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.YTLink, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Genre, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Genre, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SongPath, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SongPath, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SongPath, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>